openapi: 3.0.0
info:
  title: IOTM API (publiek)
  description: >
    Publieke lees-API voor het ontsluiten van jottems en annotaties, zonder authenticatie.
    Deze API ondersteunt IIIF Change Discovery, RSS feeds, Elasticsearch queries, W3C Web Annotations en NDE-conforme datasetbeschrijvingen.
    Functionaliteit die authenticatie vereist (uploaden, modereren, beheren) is beschreven in de aparte beheer-API (openapi-beheer.yaml).
  version: "0.1"

servers:
  - url: https://api.iotm.nl/v1
    description: Productie server

paths:

  /organisaties:
    get:
      tags: [Organisaties]
      summary: Haal een lijst van alle deelnemende organisaties (verenigingen, archiefinstellingen, instituten, ...) op
      description: >
        Geeft een overzicht van alle organisaties met hun huisstijl (kleuren, logo) en
        actieve projecten, inclusief per project de ingeschakelde uploadwijzen
        (`uploadWijzen`); gebruikt door de startpagina en het uploadformulier.
      responses:
        '200':
          description: Een lijst met organisaties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/organisatie'
              example:
                - slug: "diegoude"
                  naam: "Historische Vereniging Die Goude"
                - slug: "samh"
                  naam: "Streekarchief Midden-Holland"

  /organisatie/{organisatieSlug}/publiek:
    get:
      tags: [Organisaties]
      summary: Publieke organisatiepagina-gegevens (info, huisstijl en actieve projecten)
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: Organisatie-info met actieve projecten en aantallen jottems
          content:
            application/json:
              schema: { type: object }

  /rss:
    get:
      tags: [Organisaties, RSS]
      summary: RSS-feed van de aangesloten organisaties op het platform
      responses:
        '200':
          description: RSS Feed (XML)
          content:
            application/rss+xml:
              schema: { type: string }

  /organisatie/{organisatieSlug}/activity-stream:
    get:
      tags: [Jottems, IIIF]
      summary: IIIF Change Discovery Activity Stream van een organisatie
      description: >
        Voor het periodiek harvesten van nieuwe of gewijzigde jottems en annotaties:
        OrderedCollection zonder page-parameter, OrderedCollectionPage met `?page=n`.
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: IIIF Change Discovery Activity Stream
          content:
            application/ld+json:
              schema: { type: object }

  /project/{projectId}/activity-stream:
    get:
      tags: [Projecten, IIIF]
      summary: IIIF Change Discovery Activity Stream van een project
      description: >
        Activiteiten (Create/Update/Delete) van de jottems binnen één project; de
        distributie waarnaar de projectdatasetbeschrijving verwijst. OrderedCollection
        zonder page-parameter, OrderedCollectionPage met `?page=n`.
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: IIIF Change Discovery Activity Stream
          content:
            application/ld+json:
              schema: { type: object }

  /organisatie/{organisatieSlug}/rss:
    get:
      tags: [RSS]
      summary: RSS-feed van nieuwe jottems van een organisatie
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: RSS Feed (XML)
          content:
            application/rss+xml:
              schema: { type: string }

  /organisatie/{organisatieSlug}/jottems/iiif/collection:
    get:
      tags: [Jottems, IIIF]
      summary: IIIF Collection manifest per organisatie
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: IIIF Collection
          content:
            application/json: { schema: { type: object } }
  
  /jottem/{jottemId}:
    get:
      tags: [Jottems]
      summary: Haal een specifieke jottem op (inclusief media, para- en metadata)
      parameters:
        - name: jottemId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Een volledige jottem resource
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Jottem'
 
  /jottem/search:
    post:
      tags: [Jottems]
      summary: Doorzoek jottems
      description: >
        **Nog niet gerealiseerd (gepland).**
        Doorzoekt gepubliceerde jottems via een afgebakende zoektaal; de backend vertaalt de
        aanvraag naar Elasticsearch (de zoekmachine zelf is niet direct bevraagbaar).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Zoekopdracht' }
            example:
              q: "markt"
              genre: [foto, menukaart]
              organisatie: "samh"
              periodeVan: 1960
              periodeTot: 1990
      responses:
        '200':
          description: Zoekresultaten met facetten
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Zoekresultaat' }

  /jottem/{jottemId}/iiif/manifest:
    get:
      tags: [Jottems, IIIF]
      summary: IIIF Manifest per jottem
      parameters:
        - name: jottemId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: IIIF Manifest
          content:
            application/json: { schema: { type: object } }

  /organisatie/{organisatieSlug}/jottem:
    get:
      tags: [Jottems]
      summary: Haal jottems op per organisatie
      description: >
        **Nog niet gerealiseerd (gepland).** De gepubliceerde jottems van een organisatie
        zijn nu beschikbaar via de IIIF Collection en de RSS-feed van de organisatie.
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: Lijst van jottems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Jottem'

  /organisatie/{organisatieSlug}/project/{projectSlug}/publiek:
    get:
      tags: [Projecten, Jottems]
      summary: Publieke projectpagina-gegevens met gepubliceerde jottems (gepagineerd)
      description: >
        Projectinfo (naam, oproep, periode, licentie, huisstijl van de organisatie) plus
        het gepagineerde overzicht van gepubliceerde jottems met thumbnails; elke
        organisatie heeft minstens één project en elke jottem hoort bij precies één project.
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
        - name: projectSlug
          in: path
          required: true
          schema: { type: string }
        - name: pagina
          in: query
          required: false
          schema: { type: integer, minimum: 1, default: 1 }
      responses:
        '200':
          description: Projectdetails met gepagineerde jottemtegels
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }

  /project/{projectId}/iiif/collection:
    get:
      tags: [Projecten, IIIF]
      summary: IIIF Collection van een project
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: IIIF Collection
          content:
            application/json: { schema: { type: object } }

  /project/{projectId}/annotations:
    get:
      tags: [Projecten, Annotations]
      summary: Alle annotaties van een project als W3C AnnotationCollection
      description: >
        Aggregeert de annotaties van alle gepubliceerde jottems van het project tot één
        AnnotationCollection, gepagineerd via AnnotationPages.
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: W3C AnnotationCollection (gepagineerd via AnnotationPages)
          content:
            application/ld+json; profile="http://www.w3.org/ns/anno.jsonld":
              schema: { $ref: '#/components/schemas/AnnotationCollection' }

  /project/{projectId}/rss:
    get:
      tags: [Projecten, RSS]
      summary: RSS-feed van nieuwe jottems binnen een project
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: RSS Feed (XML)
          content:
            application/rss+xml:
              schema: { type: string }

  /project/{projectId}/dump-{projectSlug}.nt.gz:
    get:
      tags: [Projecten, Datasetbeschrijvingen]
      summary: RDF-datadump van een project (N-Triples, gecomprimeerd)
      description: >
        Alle gepubliceerde jottems van het project als N-Triples (schema.org AP NDE),
        gzip-gecomprimeerd (encodingFormat `application/n-triples+gzip`); de
        kern-distributie van de projectdataset. De projectslug staat in de bestandsnaam;
        de oude URL zonder slug (`dump.nt.gz`) verwijst permanent door.
      parameters:
        - $ref: '#/components/parameters/projectId'
        - name: projectSlug
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Gecomprimeerde N-Triples-dump
          content:
            application/gzip:
              schema: { type: string, format: binary }

  /project/{projectId}/dataset:
    get:
      tags: [Projecten, Datasetbeschrijvingen]
      summary: Datasetbeschrijving van een project met datadump-distributie (schema.org)
      description: >
        Retourneert de metadata-beschrijving van de projectdataset conform schema.org
        (AP NDE), inclusief distributies (RDF-datadump `dump-{projectSlug}.nt.gz`,
        SPARQL, IIIF Collection, RSS, AnnotationCollection en de activity-stream van
        het project).
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: Datasetbeschrijving in JSON-LD (RDF)
          content:
            application/ld+json:
              schema: { $ref: '#/components/schemas/Dataset' }

  /w3c/{jottemId}/{annotationId}:
    get:
      tags: [Annotations]
      summary: Haal een specifieke annotatie op (annotatieserver)
      description: >
        Losse annotaties worden direct door de annotatieserver (AnnoRepo) geserveerd;
        de annotatie-IRI is `https://anno.iotm.nl/w3c/{jottemId}/{annotationId}`.
      servers:
        - url: https://anno.iotm.nl
          description: Annotatieserver (AnnoRepo)
      parameters:
        - name: jottemId
          in: path
          required: true
          schema: { type: string }
        - name: annotationId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: W3C Web Annotation object
          content:
            application/ld+json; profile="http://www.w3.org/ns/anno.jsonld":
              schema: { $ref: '#/components/schemas/Annotation' }

  /jottem/{jottemId}/annotations:
    get:
      tags: [Annotations]
      summary: Alle annotaties van een jottem als W3C AnnotationCollection
      description: >
        Levert de AnnotationCollection van de jottem, conform het W3C Web Annotation Protocol.
        De annotatieserver hanteert een container per jottem; dit endpoint verwijst door naar
        https://anno.iotm.nl/w3c/{jottemId}/ (het IIIF Manifest verwijst hier via
        "annotations" ook naar).
      parameters:
        - name: jottemId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: W3C AnnotationCollection (gepagineerd via AnnotationPages)
          content:
            application/ld+json; profile="http://www.w3.org/ns/anno.jsonld":
              schema: { $ref: '#/components/schemas/AnnotationCollection' }

  /organisatie/{organisatieSlug}/annotations:
    get:
      tags: [Annotations]
      summary: Alle annotaties van een organisatie als W3C AnnotationCollection
      description: >
        Aggregeert de annotaties van alle gepubliceerde jottems van de organisatie tot één
        AnnotationCollection, gepagineerd via AnnotationPages. Ook bruikbaar als
        schema:distribution in de datasetbeschrijving van de organisatie.
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: W3C AnnotationCollection (gepagineerd via AnnotationPages)
          content:
            application/ld+json; profile="http://www.w3.org/ns/anno.jsonld":
              schema: { $ref: '#/components/schemas/AnnotationCollection' }

  /jottem/{jottemId}/detail:
    get:
      tags: [Jottems]
      summary: Detailweergave van een jottem voor de frontend
      description: >
        Interne detailweergave (JSON) waarmee de webapplicatie de jottem-pagina opbouwt:
        metadata, afbeeldings-URL, IIIF-verwijzingen, bron en de ingeschakelde
        verrijkingen (CTA's) van het project.
      parameters:
        - name: jottemId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Jottem-detail (JSON)
          content:
            application/json:
              schema: { type: object }

  /verrijkingen:
    get:
      tags: [Annotations]
      summary: Catalogus van verrijkingsmogelijkheden (labels en CTA's)
      description: >
        De MVP-verrijkingencatalogus uit het verrijkingendocument: per verrijking de
        sleutel, het label, de call-to-action, de W3C-motivation en het doel; o.a.
        gebruikt door het projectbeheer om verrijkingen per project in of uit te schakelen.
      responses:
        '200':
          description: Lijst van verrijkingen
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /attenderingen/uit:
    get:
      tags: [Organisaties]
      summary: Attenderingsmails uitschakelen via de link in de e-mail (werkt zonder inloggen)
      description: >
        One-click uitschakelen van attenderingen (RFC 8058-vriendelijk): de link in elke
        attenderingsmail bevat een geheim token (`token`-queryparameter) waarmee de
        voorkeur direct wordt uitgezet, zonder inloggen.
      parameters:
        - name: token
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Bevestiging dat attenderingen uit staan

  /datacatalog:
    get:
      tags: [Datasetbeschrijvingen]
      summary: Datasetcatalogus (schema.org)
      description: Platformbrede catalogus die de datasetbeschrijvingen van alle projecten bundelt.
      responses:
        '200':
          description: Datasetcatalogus in JSON-LD
          content:
            application/ld+json:
              schema: { $ref: '#/components/schemas/DataCatalog' }

components:
  parameters:
    organisatieSlug:
      name: organisatieSlug
      in: path
      required: true
      schema: { type: string }
    projectId:
      name: projectId
      in: path
      required: true
      schema: { type: string, format: uuid }

  schemas:
    Jottem:
      type: object
      description: >
        Een Jottem is een integraal digitaal erfgoedobject dat fungeert als een geaggregeerde resource, waarbij diverse media-uitingen zoals afbeeldingen, video’s of audiofragmenten worden gecombineerd met uitgebreide beschrijvende metadata conform het NDE-schema.org profiel. Naast deze inhoudelijke beschrijving omvat de definitie strikte technische specificaties en juridische licentie-informatie voor duurzaam hergebruik, aangevuld met gedetailleerde paradata die het digitaliseringsproces en de herkomst van de data (provenance) transparant maken. Bovendien dient een Jottem als ankerpunt voor een dynamische laag van verrijkingen, waarbij correcties, publieksreacties en vakinhoudelijke annotaties via het W3C Web Annotation-protocol naadloos worden gekoppeld, zodat het object gedurende zijn digitale levenscyclus voortdurend kan groeien en van nieuwe context kan worden voorzien.
      required: ["@id", "@type", "name", "license"]
      properties:
        # Beschrijvende Metadata (NDE Schema.org)
        "@context": { type: string, default: "https://schema.org/" }
        "@id": { type: string, format: uri }
        "@type": { type: string, enum: [VisualArtwork, AudioObject, VideoObject, ImageObject] }
        name: { type: string }
        description: { type: string }
        creator: { $ref: '#/components/schemas/Agent' }
        dateCreated: { type: string }
        
        # Media & Technische Metadata
        associatedMedia:
          type: array
          items:
            $ref: '#/components/schemas/MediaObject'
        license: { type: string, format: uri }
        rightsHolder: { $ref: '#/components/schemas/Agent' }

        # Paradata (Digitaliseringsproces & Provenance)
        digitizationDetails:
          type: object
          properties:
            digitizationDate: { type: string, format: date }
            captureDevice: { type: string }
            digitizer: { $ref: '#/components/schemas/Agent' }
            processDescription: { type: string }

        # Verrijkingen & Annotaties (Koppelingen)
        annotations:
          type: array
          description: URI's naar gekoppelde W3C Annotaties (correcties, reacties, verrijkingen).
          items: { type: string, format: uri }

    MediaObject:
      type: object
      properties:
        contentUrl: { type: string, format: uri }
        encodingFormat: { type: string, example: "image/jp2" }
        width: { type: integer }
        height: { type: integer }
        duration: { type: string } # Voor audio/video
        technicalSpecs: { type: object, description: "Bijv. EXIF of ICC profiel data" }

    Annotation:
      type: object
      description: W3C Web Annotation.
      properties:
        "@context": { type: string, example: "http://www.w3.org/ns/anno.jsonld" }
        type: { type: string, example: "Annotation" }
        motivation: { type: string }
        body: { type: object }
        target: { type: object }

    AnnotationCollection:
      type: object
      description: W3C AnnotationCollection, gepagineerd via AnnotationPages.
      properties:
        "@context": { type: string, example: "http://www.w3.org/ns/anno.jsonld" }
        id: { type: string, format: uri }
        type: { type: string, example: "AnnotationCollection" }
        label: { type: string, example: "Annotaties bij jottem ..." }
        total: { type: integer, example: 42 }
        first:
          type: object
          description: Eerste AnnotationPage met items (Annotation)
          properties:
            id: { type: string, format: uri }
            type: { type: string, example: "AnnotationPage" }
            items:
              type: array
              items: { $ref: '#/components/schemas/Annotation' }
        last: { type: string, format: uri }

    Project:
      type: object
      description: >
        Een project is een campagne op organisatieniveau (bijv. "Smaak van Gouda") waarbinnen
        jottems worden verzameld; elke jottem hoort bij precies één project en elk project
        heeft een eigen datasetbeschrijving.
      required: [projectId, naam, slug]
      properties:
        projectId: { type: string, format: uuid }
        naam: { type: string, example: "Smaak van Gouda" }
        slug: { type: string, example: "smaak-van-gouda" }
        beschrijving: { type: string }
        oproep: { type: string, description: "Oproep tot actie voor bijdragers" }
        startDatum: { type: string, format: date }
        eindDatum: { type: string, format: date }
        afbeelding: { type: string, format: uri }
        datasetLicentie: { type: string, format: uri }
        status: { type: string, enum: [actief, afgerond] }
        organisatieSlug: { type: string, example: "samh" }

    Dataset:
      type: object
      description: NDE Dataset metadata (per project).
      properties:
        "@type": { type: string, example: "Dataset" }
        name: { type: string }
        distribution:
          type: array
          items:
            type: object
            properties:
              encodingFormat: { type: string, example: "application/n-triples" }
              contentUrl: { type: string, format: uri }

    DataCatalog:
      type: object
      description: >
        De overkoepelende catalogus die alle individuele datasets van de 
        verschillende organisaties bevat conform het NDE-profiel.
      properties:
        "@context": 
          type: string
          example: "https://schema.org/"
        "@type": 
          type: string
          example: "DataCatalog"
        name: 
          type: string
          description: Naam van de catalogus (bijv. "Jottem Centraal Register")
        publisher:
          $ref: '#/components/schemas/Agent'
        dataset:
          type: array
          description: De lijst met datasets (per project) die deel uitmaken van deze catalogus.
          items:
            $ref: '#/components/schemas/Dataset'

    Agent:
      type: object
      properties:
        "@type": { type: string, enum: [Person, Organization] }
        name: { type: string }

    Zoekopdracht:
      type: object
      description: Afgebakende zoektaal; alle velden optioneel en combineerbaar (EN-logica).
      properties:
        q: { type: string, description: "Vrije zoektekst (titel, beschrijving, metadata, annotaties)" }
        genre:
          type: array
          items: { type: string }
        organisatie: { type: string, description: "Organisatieslug" }
        project: { type: string, format: uuid }
        plaats: { type: string }
        periodeVan: { type: integer, example: 1960 }
        periodeTot: { type: integer, example: 1990 }
        page: { type: integer, default: 1 }
        pageSize: { type: integer, default: 20, maximum: 100 }
        sort: { type: string, enum: [relevantie, publicatieDatum, datering], default: relevantie }

    Zoekresultaat:
      type: object
      properties:
        totaal: { type: integer }
        page: { type: integer }
        resultaten:
          type: array
          items: { $ref: '#/components/schemas/Jottem' }
        facetten:
          type: object
          description: Aantallen per facetwaarde (genre, organisatie, project, periode, plaats)
          additionalProperties:
            type: object
            additionalProperties: { type: integer }

    organisatie:
      type: object
      required:
        - slug
        - naam
      properties:
        slug:
          type: string
          description: De unieke URL-vriendelijke naam van de organisatie (gebruikt als ID in paden).
          example: "diegoude"
        naam:
          type: string
          description: De volledige naam van de organisatie.
          example: "Historische Vereniging Die Goude"
        beschrijving:
          type: string
        website:
          type: string
          format: uri
        kleurPrimair:
          type: string
          description: Primaire huisstijlkleur (hex).
          example: "#a2401f"
        logoUrl:
          type: string
          format: uri
          description: URL naar het logo van de organisatie.
        projecten:
          type: array
          description: Actieve projecten, met per project o.a. slug, oproep, datasetLicentie en de ingeschakelde uploadwijzen (uploadWijzen).
          items: { type: object }