openapi: 3.0.0
info:
  title: IOTM Beheer-API
  description: >
    Beheer-API voor het Jottem-platform: uploaden, modereren, projecten, favorieten,
    annotaties, gebruikers- en organisatiebeheer, statistieken en verwijderverzoeken.
    Alle endpoints (behalve het indienen van een verwijderverzoek) vereisen een
    OIDC Bearer-token uitgegeven door auth.iotm.nl; autorisatie gebeurt op basis van
    de rollen uit het token (platformbeheerder, organisatiebeheerder, moderator, gebruiker).
    De publieke lees-API is beschreven in openapi.yaml.
  version: "0.1"

servers:
  - url: https://api.iotm.nl/v1
    description: Productie server

security:
  - bearerAuth: []

paths:

  # --- Profiel (alle ingelogde rollen) ---

  /mijn/profiel:
    get:
      tags: [Profiel]
      summary: Eigen profiel inzien
      responses:
        '200':
          description: Profiel
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Profiel' }
    put:
      tags: [Profiel]
      summary: Eigen profiel wijzigen (naam, afbeelding, privacy-instellingen)
      description: Wachtwoord en 2FA/passkeys worden beheerd via de identity provider (auth.iotm.nl).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Profiel' }
      responses:
        '200': { description: Bijgewerkt profiel }

  # --- Uploaden (rol gebruiker/uploader) ---

  /upload-url:
    post:
      tags: [Uploads]
      summary: Vraag een presigned upload-URL aan
      description: >
        De browser uploadt het mediabestand rechtstreeks naar de mediaopslag via de
        geretourneerde presigned URL; de mediaKey wordt daarna gebruikt bij het aanmaken
        van de jottem.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bestandsnaam, contentType]
              properties:
                bestandsnaam: { type: string, example: "gevel-markt-12.jpg" }
                contentType: { type: string, example: "image/jpeg" }
      responses:
        '201':
          description: Presigned upload-URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl: { type: string, format: uri }
                  mediaKey: { type: string }

  /organisatie/{organisatieSlug}/jottem:
    post:
      tags: [Uploads]
      summary: Maak een nieuwe jottem aan (status "nieuw", wacht op moderatie)
      description: >
        Bij het aanmaken wordt de afbeelding synchroon gecontroleerd op herkenbare personen
        (Herkenbaar API); het resultaat wordt vastgelegd bij de media en teruggegeven, zodat
        de frontend bij "herkenbaar: ja" direct om een toestemmingsverklaring kan vragen
        (via toestemmingPersonen in een vervolgaanroep of in deze request).
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/JottemNieuw' }
      responses:
        '201':
          description: Jottem aangemaakt, status "nieuw", inclusief detectieresultaat
          content:
            application/json:
              schema:
                type: object
                properties:
                  jottemId: { type: string }
                  herkenbaar: { type: string, enum: [ja, nee], description: "Resultaat Herkenbaar API" }
                  betrouwbaarheid: { type: number, format: float, example: 0.9421 }

  /mijn/jottems:
    get:
      tags: [Uploads]
      summary: Overzicht van eigen geüploade jottems met status, aantal annotaties en deellinks
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [nieuw, goedgekeurd, afgekeurd] }
      responses:
        '200':
          description: Lijst van eigen jottems
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/JottemStatus' }

  /jottem/{jottemId}:
    put:
      tags: [Uploads]
      summary: Bewerk een eigen afgekeurde jottem en dien deze opnieuw in
      description: >
        Alleen de eigenaar en alleen bij status "afgekeurd": de uploader past metadata aan
        (n.a.v. de afkeurreden, bijv. aanvullende informatie of een toestemmingsverklaring)
        en de jottem gaat terug naar status "nieuw" in de moderatiewachtrij.
      parameters:
        - $ref: '#/components/parameters/jottemId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/JottemNieuw' }
      responses:
        '200': { description: Bijgewerkt en opnieuw ingediend (status "nieuw") }
        '403': { description: Niet toegestaan (niet de eigenaar, of jottem is niet afgekeurd) }
    delete:
      tags: [Uploads]
      summary: Verwijder een eigen afgekeurde jottem (goedgekeurde jottems kunnen niet worden verwijderd)
      parameters:
        - $ref: '#/components/parameters/jottemId'
      responses:
        '204': { description: Verwijderd }
        '403': { description: Niet toegestaan (niet de eigenaar, of jottem is goedgekeurd) }

  # --- Projecten (rol organisatiebeheerder) ---

  /organisatie/{organisatieSlug}/projecten:
    get:
      tags: [Projecten]
      summary: Overzicht van de projecten van de organisatie
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: Lijst van projecten
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Project' }
    post:
      tags: [Projecten]
      summary: Maak een project aan
      description: >
        Elke organisatie heeft minstens één project; bij het aanmaken van een organisatie
        wordt daarom direct een eerste project aangemaakt. Elke jottem hoort bij precies
        één project.
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Project' }
      responses:
        '201': { description: Project aangemaakt }

  /project/{projectId}:
    put:
      tags: [Projecten]
      summary: Wijzig een project (naam, beschrijving, oproep, periode, afbeelding, datasetlicentie, status)
      parameters:
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Project' }
      responses:
        '200': { description: Project bijgewerkt }
    delete:
      tags: [Projecten]
      summary: Verwijder een leeg project
      description: Alleen mogelijk zolang er geen jottems aan het project zijn gekoppeld en er minstens één ander project resteert.
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '204': { description: Verwijderd }
        '409': { description: Project bevat jottems of is het laatste project van de organisatie }

  # --- Favorieten (rol gebruiker) ---

  /mijn/favorieten:
    get:
      tags: [Favorieten]
      summary: Overzicht van eigen favoriete jottems
      responses:
        '200':
          description: Lijst van favorieten
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/JottemStatus' }

  /jottem/{jottemId}/favoriet:
    put:
      tags: [Favorieten]
      summary: Markeer een jottem als favoriet
      parameters:
        - $ref: '#/components/parameters/jottemId'
      responses:
        '204': { description: Gemarkeerd }
    delete:
      tags: [Favorieten]
      summary: Verwijder de favorietmarkering
      parameters:
        - $ref: '#/components/parameters/jottemId'
      responses:
        '204': { description: Verwijderd }

  /mijn/favorieten/openbaar:
    put:
      tags: [Favorieten]
      summary: Stel eigen favorietenoverzicht in als openbaar (deelbare, niet-duurzame link) of privé
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [openbaar]
              properties:
                openbaar: { type: boolean }
      responses:
        '200':
          description: Instelling opgeslagen; bij openbaar bevat het antwoord de deellink
          content:
            application/json:
              schema:
                type: object
                properties:
                  deellink: { type: string, format: uri, nullable: true }

  # --- Annotaties (rol gebruiker/annoteerder; opslag in de annotatieserver) ---

  /jottem/{jottemId}/annotation:
    post:
      tags: [Annotaties]
      summary: Voeg een annotatie toe aan een jottem (geheel of getekend vlak)
      description: >
        W3C Web Annotation; de API voegt de geauthenticeerde gebruiker als creator toe en
        schrijft de annotatie naar de annotatieserver. Reacties op annotaties zijn annotaties
        met de bestaande annotatie als target.
      parameters:
        - $ref: '#/components/parameters/jottemId'
      requestBody:
        required: true
        content:
          application/ld+json:
            schema: { type: object }
      responses:
        '201': { description: Annotatie aangemaakt }

  /annotation/{annotationId}:
    put:
      tags: [Annotaties]
      summary: Bewerk een eigen annotatie (wijzigingsgeschiedenis blijft bewaard in de annotatieserver)
      parameters:
        - $ref: '#/components/parameters/annotationId'
      requestBody:
        required: true
        content:
          application/ld+json:
            schema: { type: object }
      responses:
        '200': { description: Annotatie bijgewerkt }
        '403': { description: Niet de maker van deze annotatie }
    delete:
      tags: [Annotaties]
      summary: Verwijder een eigen annotatie (wijzigingsgeschiedenis blijft bewaard in de annotatieserver)
      parameters:
        - $ref: '#/components/parameters/annotationId'
      responses:
        '204': { description: Verwijderd }
        '403': { description: Niet de maker van deze annotatie }

  # --- Moderatie (rol moderator) ---

  /organisatie/{organisatieSlug}/moderatie/jottems:
    get:
      tags: [Moderatie]
      summary: Overzicht van jottems van de organisatie voor kwaliteitscontrole
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [nieuw, goedgekeurd, afgekeurd, gedepubliceerd] }
      responses:
        '200':
          description: Lijst van jottems met status
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/JottemStatus' }

  /jottem/{jottemId}/status:
    put:
      tags: [Moderatie]
      summary: Wijzig de status van een jottem (goedkeuren of afkeuren)
      description: >
        Bij afkeuring is een reden verplicht; de uploader ontvangt een e-mail met de reden en
        de mogelijkheid meer informatie aan te leveren. Bij goedkeuring krijgt de jottem een
        duurzame link, wordt deze gepubliceerd en ontvangt de uploader een e-mail.
      parameters:
        - $ref: '#/components/parameters/jottemId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [goedgekeurd, afgekeurd] }
                afkeurReden: { type: string, description: "Verplicht bij status afgekeurd" }
      responses:
        '200': { description: Status gewijzigd }

  # --- Gebruikersbeheer (rollen organisatiebeheerder en platformbeheerder) ---

  /organisatie/{organisatieSlug}/gebruikers:
    get:
      tags: [Gebruikersbeheer]
      summary: Overzicht van gebruikers en hun rollen binnen de organisatie
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
        - name: rol
          in: query
          required: false
          schema: { type: string, enum: [organisatiebeheerder, moderator, gebruiker] }
      responses:
        '200':
          description: Lijst van gebruikers
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/GebruikerRol' }
    post:
      tags: [Gebruikersbeheer]
      summary: Voeg een gebruiker in een rol toe aan de organisatie
      description: >
        Platformbeheerders voegen organisatiebeheerders toe; organisatiebeheerders voegen
        moderatoren toe. De gebruiker ontvangt een e-mail met de regels en een bevestigingslink
        waarna wachtwoord en 2FA (TOTP of passkey) via de identity provider worden ingesteld.
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GebruikerRol' }
      responses:
        '201': { description: Gebruiker uitgenodigd }

  /organisatie/{organisatieSlug}/gebruiker/{gebruikersId}:
    put:
      tags: [Gebruikersbeheer]
      summary: Wijzig een gebruiker of diens rol binnen de organisatie
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
        - $ref: '#/components/parameters/gebruikersId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GebruikerRol' }
      responses:
        '200': { description: Bijgewerkt }
    delete:
      tags: [Gebruikersbeheer]
      summary: Verwijder een gebruiker(srol) uit de organisatie
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
        - $ref: '#/components/parameters/gebruikersId'
      responses:
        '204': { description: Verwijderd }

  # --- Organisatiebeheer (rol platformbeheerder; wijzigen ook organisatiebeheerder) ---

  /organisatie:
    post:
      tags: [Organisatiebeheer]
      summary: Definieer een nieuwe organisatiejottem
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrganisatieBeheer' }
      responses:
        '201': { description: Organisatie aangemaakt }

  /organisatie/{organisatieSlug}:
    put:
      tags: [Organisatiebeheer]
      summary: Wijzig een organisatiejottem (naam, favicon, logo, kleurenpalet)
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrganisatieBeheer' }
      responses:
        '200': { description: Bijgewerkt }

  /project/{projectId}/datasetbeschrijving:
    get:
      tags: [Projecten]
      summary: Bekijk de (gegenereerde) datasetbeschrijving van het project
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: Datasetbeschrijving (schema.org Dataset, JSON-LD)
          content:
            application/ld+json:
              schema: { type: object }
    put:
      tags: [Projecten]
      summary: Bewerk de velden waaruit de datasetbeschrijving wordt gegenereerd
      description: >
        Rol organisatiebeheerder. De datasetbeschrijving zelf wordt gegenereerd; bewerken
        gebeurt via de onderliggende projectvelden (naam, beschrijving, datasetLicentie);
        publisher-gegevens komen uit de organisatie.
      parameters:
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                naam: { type: string }
                beschrijving: { type: string }
                datasetLicentie: { type: string, format: uri }
      responses:
        '200': { description: Bijgewerkt; de gegenereerde datasetbeschrijving is direct actueel }

  /project/{projectId}/datasetbeschrijving/aanmelden:
    post:
      tags: [Projecten]
      summary: Valideer de projectdatasetbeschrijving en meld deze aan bij het NDE Datasetregister
      description: >
        Rol organisatiebeheerder. Kan alleen als het project openbare (gepubliceerde) data
        heeft. De backend valideert eerst via PUT /datasets/validate van de
        Datasetregister-API (https://datasetregister.netwerkdigitaalerfgoed.nl/api/) en meldt
        daarna aan via POST /datasets met de URL van de datasetbeschrijving. Het domein
        iotm.nl moet eenmalig op de allowlist van het register staan.
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '202': { description: Gevalideerd en aangemeld bij het Datasetregister }
        '409': { description: Geen openbare data, aanmelden niet mogelijk }
        '422': { description: Validatie tegen het SHACL-shape van het register faalde (details in response) }
    delete:
      tags: [Projecten]
      summary: Meld de projectdatasetbeschrijving af bij het NDE Datasetregister
      description: Rol organisatiebeheerder; gebruikt DELETE /datasets van de Datasetregister-API.
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '204': { description: Afgemeld }

  /project/{projectId}/export:
    post:
      tags: [Projecten]
      summary: Maak een e-depot-exportpakket van het project aan (BagIt + RO-Crate)
      description: >
        Rol organisatiebeheerder. Start een asynchrone job die al het materiaal van het
        project inpakt als BagIt-zip (checksummanifesten) met een RO-Crate-beschrijving
        (schema.org JSON-LD): originelen, metadata per jottem, annotaties en de RDF-datadump.
        Geschikt voor ingest in een e-depot (Archivematica ondersteunt BagIt native;
        Preservica accepteert het). Zodra het pakket klaar staat ontvangt de aanvrager een
        e-mail met een directe downloadlink (beperkte bewaartermijn).
      parameters:
        - $ref: '#/components/parameters/projectId'
      responses:
        '202': { description: Export gestart; e-mail met downloadlink volgt zodra het pakket klaar is }

  /termennetwerk/bronnen:
    get:
      tags: [Projecten]
      summary: Lijst van beschikbare terminologiebronnen uit het NDE Termennetwerk
      description: >
        Proxy op de sources-query van de Termennetwerk GraphQL API
        (https://termennetwerk-api.netwerkdigitaalerfgoed.nl/graphql), voor het per project
        instellen van de beschikbare terminologiebronnen (rol organisatiebeheerder).
      responses:
        '200':
          description: Beschikbare terminologiebronnen
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uri: { type: string, format: uri }
                    naam: { type: string, example: "Cultuurhistorische Thesaurus" }

  /organisatie/{organisatieSlug}/import:
    post:
      tags: [Organisatiebeheer]
      summary: Importeer een bestaande collectie (metadata en online afbeeldingen via IIIF)
      description: >
        Start een asynchrone import van een bestaande collectie op basis van een
        IIIF Collection- of Manifest-URL; de geïmporteerde jottems doorlopen de reguliere
        moderatieworkflow.
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [iiifUrl]
              properties:
                iiifUrl: { type: string, format: uri, description: "URL van een IIIF Collection of Manifest" }
                projectId: { type: string, format: uuid, description: "Project waarin de import terechtkomt" }
      responses:
        '202': { description: Import gestart (asynchroon) }

  # --- Statistieken (rollen moderator, organisatiebeheerder, platformbeheerder) ---

  /organisatie/{organisatieSlug}/statistieken:
    get:
      tags: [Statistieken]
      summary: Statistieken van de organisatie (logins per dag, jottems geüpload/goedgekeurd/afgekeurd, annotaties)
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: Statistieken
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Statistieken' }

  /statistieken:
    get:
      tags: [Statistieken]
      summary: Platformbrede statistieken, uitgesplitst per organisatie (rol platformbeheerder)
      responses:
        '200':
          description: Statistieken per organisatie
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Statistieken' }

  # --- Verwijderverzoeken (indienen: publiek; afhandelen: rol moderator) ---

  /verwijderverzoek:
    post:
      tags: [Verwijderverzoeken]
      summary: Dien een verwijderverzoek in voor eigen of herkenbaar materiaal
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Verwijderverzoek' }
      responses:
        '201': { description: Verzoek geregistreerd }

  /organisatie/{organisatieSlug}/verwijderverzoeken:
    get:
      tags: [Verwijderverzoeken]
      summary: Overzicht van openstaande verwijderverzoeken van de organisatie
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: Lijst van verwijderverzoeken
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Verwijderverzoek' }

  /verwijderverzoek/{verzoekId}:
    put:
      tags: [Verwijderverzoeken]
      summary: Handel een verwijderverzoek af (bij honorering krijgt de jottem status "gedepubliceerd", incl. cache-purge en schoning van alle outputs; anders afwijzing met reden)
      parameters:
        - name: verzoekId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [besluit]
              properties:
                besluit: { type: string, enum: [gehonoreerd, afgewezen] }
                toelichting: { type: string }
      responses:
        '200': { description: Verzoek afgehandeld }

  /annotation/{annotationId}/melding:
    post:
      tags: [Meldingen]
      summary: Rapporteer een annotatie of reactie (spam, reclame, ongepast); kan zonder account, met rate limiting
      security: []
      parameters:
        - name: annotationId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reden]
              properties:
                reden: { type: string, enum: [spam, reclame, ongepast, onjuist, anders] }
                toelichting: { type: string }
      responses:
        '201': { description: Melding geregistreerd; verschijnt in de moderatieomgeving }

  /organisatie/{organisatieSlug}/meldingen:
    get:
      tags: [Meldingen]
      summary: Overzicht van onafgehandelde meldingen op annotaties en reacties van de organisatie
      parameters:
        - $ref: '#/components/parameters/organisatieSlug'
      responses:
        '200':
          description: Lijst van meldingen
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Melding' }

  /melding/{meldingId}:
    put:
      tags: [Meldingen]
      summary: Handel een melding af (bijdrage verbergen/verwijderen of melding afwijzen); de afhandeling wordt gelogd in het Gebeurtenislog
      parameters:
        - name: meldingId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [besluit]
              properties:
                besluit: { type: string, enum: [verwijderd, verborgen, afgewezen] }
                toelichting: { type: string }
      responses:
        '200': { description: Melding afgehandeld }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OIDC access token uitgegeven door auth.iotm.nl

  parameters:
    organisatieSlug:
      name: organisatieSlug
      in: path
      required: true
      schema: { type: string }
    jottemId:
      name: jottemId
      in: path
      required: true
      schema: { type: string }
    projectId:
      name: projectId
      in: path
      required: true
      schema: { type: string, format: uuid }
    annotationId:
      name: annotationId
      in: path
      required: true
      schema: { type: string }
    gebruikersId:
      name: gebruikersId
      in: path
      required: true
      schema: { type: string }

  schemas:
    Profiel:
      type: object
      properties:
        naam: { type: string }
        afbeelding: { type: string, format: uri }
        privacyInstellingen: { type: object }

    JottemNieuw:
      type: object
      required: [mediaKey, naam, genre, projectId]
      properties:
        mediaKey: { type: string, description: "Verkregen via /upload-url" }
        naam: { type: string }
        beschrijving: { type: string }
        genre:
          type: string
          description: Materiaaltype/genre
          enum: [foto, menukaart, advertentie, folder, krantenartikel, vergunning, audio, overig]
        licentie:
          type: string
          format: uri
          description: >
            Licentie/hergebruikvoorwaarden die de uploader (rechthebbende) aan de jottem
            meegeeft; verschijnt als rights in IIIF en schema:license in de RDF.
        vervaardiger: { type: string }
        datum: { type: string }
        plaats: { type: string }
        personenLevenMogelijkNog: { type: boolean }
        toestemmingPersonen:
          type: boolean
          description: >
            Verklaring van de uploader dat toestemming van herkenbare personen is geregeld;
            relevant wanneer de Herkenbaar API "herkenbaar: ja" teruggeeft.
        steekwoorden:
          type: array
          items: { type: string }
        projectId: { type: string, format: uuid, description: "Het project van de organisatie waaraan de jottem wordt bijgedragen" }
        locatie:
          type: object
          description: Locatiemetadata voor kaart en pand-tijdlijn
          properties:
            adres: { type: string }
            openingsjaar: { type: integer }
            sluitingsjaar: { type: integer }

    JottemStatus:
      type: object
      properties:
        jottemId: { type: string }
        naam: { type: string }
        status: { type: string, enum: [nieuw, goedgekeurd, afgekeurd, gedepubliceerd] }
        afkeurReden: { type: string }
        herkenbaar: { type: string, enum: [ja, nee], description: "Resultaat Herkenbaar API" }
        toestemmingPersonen: { type: boolean }
        aantalAnnotaties: { type: integer }
        deellink: { type: string, format: uri }

    Project:
      type: object
      required: [naam]
      properties:
        projectId: { type: string, format: uuid, readOnly: true }
        naam: { type: string, example: "Smaak van Gouda" }
        slug: { type: string, example: "smaak-van-gouda" }
        beschrijving: { type: string }
        oproep: { type: string, description: "Oproep tot actie voor bijdragers" }
        startDatum: { type: string, format: date }
        eindDatum: { type: string, format: date }
        afbeelding: { type: string, format: uri }
        datasetLicentie: { type: string, format: uri }
        terminologiebronnen:
          type: array
          description: >
            Bron-URI's uit het NDE Termennetwerk die binnen dit project beschikbaar zijn
            voor term-URI's; leeg/afwezig betekent alle bronnen.
          items: { type: string, format: uri }
        status: { type: string, enum: [actief, afgerond] }

    GebruikerRol:
      type: object
      required: [naam, email, rol]
      properties:
        gebruikersId: { type: string, readOnly: true }
        naam: { type: string }
        email: { type: string, format: email }
        rol: { type: string, enum: [organisatiebeheerder, moderator, gebruiker] }

    OrganisatieBeheer:
      type: object
      required: [naam, slug]
      properties:
        naam: { type: string, example: "Streekarchief Midden-Holland" }
        slug: { type: string, example: "samh" }
        beschrijving: { type: string, description: "Gebruikt in o.a. publisher-informatie, IIIF provider en RSS" }
        website: { type: string, format: uri }
        favicon: { type: string, format: uri }
        logo: { type: string, format: uri }
        kleurenpalet:
          type: object
          properties:
            primary: { type: string, example: "#003366" }
            secondary: { type: string, example: "#ff9900" }
            background: { type: string, example: "#ffffff" }
        naan: { type: string, description: "ARK NAAN (gereserveerd voor latere fase)" }

    Statistieken:
      type: object
      properties:
        organisatieSlug: { type: string }
        loginsPerDag:
          type: array
          items:
            type: object
            properties:
              datum: { type: string, format: date }
              aantal: { type: integer }
        jottemsGeupload: { type: integer }
        jottemsGoedgekeurd: { type: integer }
        jottemsAfgekeurd: { type: integer }
        annotaties: { type: integer }

    Verwijderverzoek:
      type: object
      required: [jottemId, reden, email]
      properties:
        verzoekId: { type: string, readOnly: true }
        jottemId: { type: string }
        reden: { type: string, description: "Bijv. eigen materiaal of herkenbaar in beeld" }
        email: { type: string, format: email, description: "Voor terugkoppeling over de afhandeling" }
        status: { type: string, enum: [open, gehonoreerd, afgewezen], readOnly: true }

    Melding:
      type: object
      required: [annotatieIri, reden]
      properties:
        meldingId: { type: string, readOnly: true }
        jottemId: { type: string, readOnly: true, description: "De jottem waar de gerapporteerde annotatie/reactie bij hoort" }
        annotatieIri: { type: string, description: "IRI van de W3C-annotatie of -reactie in de annotatieserver" }
        reden: { type: string, enum: [spam, reclame, ongepast, onjuist, anders] }
        toelichting: { type: string }
        status: { type: string, enum: [nieuw, verwijderd, verborgen, afgewezen], readOnly: true }
        creatieDatum: { type: string, format: date-time, readOnly: true }
